pipeline/Pipeline1 - Copy.json
{
	"name": "Pipeline1 - Copy",
	"properties": {
		"activities": [
			{
				"name": "blob to Blob",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Employee Name",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Employee Name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Employee ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Employee ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Location",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Location",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Job",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Job",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DelimitedText1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DelimitedText2",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Delete from input after copy",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "blob to Blob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Binary1",
						"type": "DatasetReference"
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "sa1vp1ls1",
							"type": "LinkedServiceReference"
						},
						"path": "logs"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "blob to Blob",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ErrorrMessage",
					"value": {
						"value": "@activity('blob to Blob').Error.message",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"ErrorrMessage": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-07-18T13:00:11Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}